{% extends 'getSeededTeam/body_getSeededTeam.html' %}

{% block content %}
<article class="media content-section bg-light rounded py-4 px-2">
    <img class="rounded-circle article-img mr-4 ml-2" style="width: 300px; height: 300px;" src="{{ object.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <h1 class="article-title display-4">{{ object.venture }}</h1>
            <div class="row my-3">
                <div class="col-2">
                    <a class="btn btn-secondary" href="{% url 'candidateUpdate-getSeededTeam' object.id %}">  Update  </a>
                </div>
                <div class="col-2 ml-4">
                    <a class="btn btn-danger" href="{% url 'candidateDelete-getSeededTeam' object.id %}">Delete</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 "><h3>{{ object.name }}</h3></div>
            <div class="col-1 "><h3>{{ object.votes }}</h3></div>
            <div class="col-2 "><h3>{{ object.category }}</h3></div>
        </div>
        <h5 class="article-content mt-3">{{ object.details }}</h5>
    </div>
</article>
{% endblock content %}
